.form{
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      h2 {
            letter-spacing: 1px;
            font-weight: 700;
      }
      .btn{
            max-width: 100px;
            margin: 0 auto;
      }
}